body{
    display: grid;
    grid-template-columns: 30% 1fr;
    grid-template-rows: 1fr 60px    
}


.footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #333;
    color: #eee;
    font-size: 1.4rem;
}

body div:first-child {
    grid-column: 1

}

body div:nth-child(2n){
    grid-column: 2
    
}

body footer{
    grid-column: 1 / span 2;
    grid-row: 2;
    
}