body{
    user-select: none;
    min-width: 100vw;
    min-height: 100vh;
    background-color: #eee;
    margin-top: 50px;
}

.cubo, .cubo .cara {
    width: 200px;
    height: 200px;
}
.cubo .cara {
    position: absolute;
}


.cubo {
    position: absolute;
    top: 0;
    left: 50%;
    margin: 100px auto;
    transform-style: preserve-3d;
    transform: perspective(700px) rotateX(-30deg) rotateY(-30deg) ;
    transition: .5s;
}



.cubo .cara#superior {
    background-color: rgb(128, 98, 43);
    transform: rotateX(90deg) translateZ(100px);
}
.cubo .cara#frente {
    background-color: rgb(180, 43, 43);
    transform: translateZ(100px)
}
.cubo .cara#atras {
    background-color: rgb(62, 185, 62);
    transform: translateZ(-100px)
}
.cubo .cara#derecha {
    background-color: rgb(51, 51, 172);
    transform: rotateY(90deg) translateZ(100px);
}
.cubo .cara#izquierda {
    background-color: rgb(214, 214, 90);
    transform: rotateY(90deg) translateZ(-100px);
}
.cubo .cara#inferior {
    background-color: rgb(122, 48, 122);
    transform: rotateX(90deg) translateZ(-100px);
}


